html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: #101214;
  font-family: 'Roboto Slab', sans-serif;
}

* {
  cursor: none;
}

#canvas {
  position: absolute;
  background: black;
  opacity: 0;
}

#chat-wrap {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 256px;
  max-height: 50%;
  margin: 0 2em 2em 0;
  z-index: 2;

  overflow-y: hidden;
  overflow-wrap: break-word;

  font-size: 14px;
  color: white;
}

#chat {
  overflow-y: hidden;
  width: 100%;
}

#chat-input {
  display: inline-block;
  position: relative;
  bottom: 0;
  width: 100%;
  min-height: 3em;
  max-height: 5em;
  overflow-y: auto;

  box-sizing: border-box;
  border-radius: 0.5em;
  padding: 0.75em 1em;

  outline: none;
  user-select: text;
  white-space: pre-wrap;

  color: transparent;
}

#chat-input:focus {
  color: inherit;
  background-color: rgba(0, 0, 0, 0.7);
}

.chat-message {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.5em;
  margin: 1em;
  padding: 0.5em 1em;
}

.chat-info-message {
  color: yellow;
}

.chat-debug-message {
  color: cyan;
}

.chat-error-message {
  color: red;
}

.chat-success-message {
  color: limegreen;
}
